
/****-----start-body----****/
* {
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
}

body {
    background: rgba(25, 70, 85, 0.2);
	font-weight: 400;
    line-height: 1.5;
	position: relative;
}

/* Container Div */
#container {
	position: absolute;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	width: 45%;
	height: 304px;
	margin-top: 24px;
	background-color: #f8f9fa;
    padding: 16px 15px;
}

.parent {
	width: 100%;
	height: 270px;
	background: #fff;
	padding: 1.25rem;
	border-radius: 0.3rem;
	box-shadow: 2px 1.5px 3px 2.5px;
}

/* Label Style */
form span {
	display: block;
    margin-bottom: .5rem;
	color: #212529;
    margin: 0px 0px 8px;
	font-size: 16px;
    font-weight: 500;
}

/* Username & Password Style */
input[type="text"],input[type="Password"] {
	width: 100%;
	margin: 1px 0px;
    padding: 10px 18px;
    font-size: 1rem;
    color: #495057;
	border: 1px solid #ced4da; 
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	outline: none;
}

input[type="Password"]:focus{
	color: #495057;
	border: 1px solid #80bdff;
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

input[type="text"]:focus{
	color: #495057;
	border: 1px solid #80bdff;
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* Button Style */
.submit input[type="submit"] {
	display: inline-block;
    width: 100%;
	height: 58px;
	cursor: pointer;
	margin-top: 5px;
	font-size: 0.9rem;
	border-radius: 5px;
    border: 1px solid #343a40;
    text-align: center;
	padding: 1rem;
    color: #343a40;
}
.submit input[type="submit"]:hover{
	color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}


/*----For-responsive design-----*/
@media (max-width:1280px){
	#container {
		width: 90%;
		height: 304px;
		background-color: #f8f9fa;
		/* margin: 24px 400px; */
		padding: 16px 15px;
	}
    .parent {
		height: 270px;
	}
	input[type="text"], input[type="Password"] {
	padding: 9px;		
	width: 93%;
	}
}

@media (max-width:320px){
    #container {
		width: 100%;
		height: 304px;
		background-color: #f8f9fa;
		/* margin: 24px 400px; */
		padding: 16px 15px;
	}
	.parent {
		width: 100%;
	}
	.submit{
	padding: 2px ;
	text-align: center;
	}
	
	input[type="text"], input[type="Password"] {
	padding: 6px;
	margin: 9px 0px;
	width: 100%;
	}
	
}









